.HeaderContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    /* background-color: rgb(241, 240, 240); */
    color:black;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: 0.6s;
}